# Byte-compiled / optimized / DLL files
__pycache__/

# LaTex compiling files
*.synctex*
*.toc
*.out
*.aux
*.fdb_latexmk
*.fls
*.listing
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Pipenv files
Pipfile

# Other files
DELETE_ME.*
